<nav class="navbar navbar-expand-lg" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="../../../assets/Tricolor_de_Paine.png" alt="" height="50 px" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="jugadores" *ngIf="this.userRole === 'admin' || this.userRole === 'tecnico' || this.userRole === 'socio'">Jugadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="equipo" *ngIf="this.userRole === 'admin' || this.userRole === 'tecnico' || this.userRole === 'socio'">Equipo T.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="campeonatos">Campeonatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="traspasos" *ngIf="this.userRole === 'admin' || this.userRole === 'tecnico' || this.userRole === 'socio'">Traspasos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="financiamiento" *ngIf="this.userRole === 'admin' || this.userRole === 'tecnico' || this.userRole === 'socio'"
            >Financiamiento</a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
              />
            </svg>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="login"
                *ngIf="this.userRole != 'admin' && this.userRole != 'tecnico' && this.userRole != 'socio' && this.userRole != 'usuario'"
                >Login</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="register"
                *ngIf="this.userRole != 'admin' && this.userRole != 'tecnico' && this.userRole != 'socio' && this.userRole != 'usuario'"
                >Register</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                (click)="logout()"
                *ngIf="this.userRole === 'admin' || this.userRole === 'tecnico' || this.userRole === 'socio' || this.userRole === 'usuario'"
                >Logout</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body id="body">
  <button type="button" class="btn btn-secondary btn-lg" *ngIf="this.userRole === 'admin' || this.userRole === 'tecnico'" style="margin-left: 5%;">
    <a href="agregar" class="nav-link"> Agregar Jugador</a>
  </button>
  <div id="bodyn" class="row">
    <br />

    <div class="card" *ngFor="let jugador of jugadores$ | async" style="margin-top: 1%">
      <div class="card-top-part">
        <div class="left-part">
          <div class="user-name">
            <p class="name">{{ jugador.nombre }} {{ jugador.apellido }}</p>
            <p class="role">{{ jugador.posicion }}</p>
          </div>
          <div class="user-position">
            <p class="position">
              Goles:{{ jugador.goles }} <br />
              Asistencias:{{ jugador.asistencias }}
            </p>
          </div>
        </div>
        <div class="right-part">
          <div class="user-photo">
            <img src="{{ jugador.fotografia }}" class="photo" width="100%" height="100%" />
          </div>
        </div>
      </div>
      <div class="card-bottom-part">
        <div class="bottom-part" *ngIf="this.userRole === 'admin' || this.userRole === 'tecnico'">
          <a routerLink="editar/{{ jugador.id }}">Editar</a>
        </div>
        <div class="bottom-part" *ngIf="this.userRole === 'admin' || this.userRole === 'tecnico'">
          <a routerLink="jugadores" (click)="action('delete', jugador.id, jugador)">Borrar</a>
        </div>
        <div class="bottom-part" *ngIf="this.userRole === 'admin' || this.userRole === 'tecnico'">
          <a routerLink="traspasos/{{ jugador.id }}">Traspasar</a>
        </div>
      </div>
    </div>
  </div>
</body>
