<nav class="navbar navbar-expand-lg" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="../../../assets/Tricolor_de_Paine.png" alt="" height="50 px" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="jugadores" *ngIf="this.userRole === 'admin' || this.userRole === 'tecnico' || this.userRole === 'socio'">Jugadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="equipo" *ngIf="this.userRole === 'admin' || this.userRole === 'tecnico' || this.userRole === 'socio'">Equipo T.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="campeonatos">Campeonatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="traspasos" *ngIf="this.userRole === 'admin' || this.userRole === 'tecnico' || this.userRole === 'socio'">Traspasos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="financiamiento" *ngIf="this.userRole === 'admin' || this.userRole === 'tecnico' || this.userRole === 'socio'"
            >Financiamiento</a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
              />
            </svg>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="login"
                *ngIf="this.userRole != 'admin' && this.userRole != 'tecnico' && this.userRole != 'socio' && this.userRole != 'usuario'"
                >Login</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="register"
                *ngIf="this.userRole != 'admin' && this.userRole != 'tecnico' && this.userRole != 'socio' && this.userRole != 'usuario'"
                >Register</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                (click)="logout()"
                *ngIf="this.userRole === 'admin' || this.userRole === 'tecnico' || this.userRole === 'socio' || this.userRole === 'usuario'"
                >Logout</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body id="body">
  <div id="bodyn">
    <br />

    <form [formGroup]="formulario">
      <div class="form-floating">
        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre" id="nombre" />
        <label for="floatingInput1" id="nombre1">Nombre</label>
        <span *ngIf="this.formulario.get('nombre')?.errors?.['required']"> (El Nombre no puede quedar vacío) </span>
      </div>
      <br />
      <div class="form-floating">
        <input type="text" class="form-control" formControlName="apellido" id="floatingPassword" placeholder="Apellido" id="apellido" />
        <label for="floatingInput2" id="apellido1">Apellido</label>
        <span *ngIf="this.formulario.get('apellido')?.errors?.['required']"> (El Apellido no puede quedar vacío) </span>
      </div>
      <br />
      <div class="form-floating">
        <input type="file" class="form-control" formControlName="fotografia" placeholder="Fotografia" id="fotografia" (change)="nuevaImagen($event)" />
        <label for="floatingInput3" id="fotografia1">Fotografía</label>
      </div>
      <br />
      <div class="form-floating">
        <input type="number" class="form-control" formControlName="edad" id="floatingPassword" placeholder="Edad" id="edad" />
        <label for="floatingInput4" id="edad1">Edad</label>
        <span *ngIf="this.formulario.get('edad')?.errors?.['required']"> (La Edad no puede quedar vacía) </span>
      </div>
      <br />
      <div class="form-floating">
        <select formControlName="posicion" id="posicion" class="form-select">
          <option>Abre Para eligir posicion de jugador</option>
          <option value="PO">Portero</option>
          <option value="LI">Lateral Izquierdo</option>
          <option value="LD">Lateral Derecho</option>
          <option value="DFC">Defensa Central</option>
          <option value="CAI">Carrilero Izquierdo</option>
          <option value="CAD">Carrilero Derecho</option>
          <option value="MCD">Medio Campista Defensivo</option>
          <option value="MC">Medio Campista</option>
          <option value="MI">Medio Campista Izquierdo</option>
          <option value="MD">Medio Campista Derecho</option>
          <option value="MCO">Medio Campista Ofensivo</option>
          <option value="MP">Media Punta</option>
          <option value="MPI">Media Punta Izquierda</option>
          <option value="MPD">Media Punta Derecha</option>
          <option value="EI">Extremo Izquierdo</option>
          <option value="ED">Extremo Derecho</option>
          <option value="DC">Delantero Centro</option>
        </select>
        <label for="floatingInput5" id="posicion1">Posición</label>
        <span *ngIf="this.formulario.get('posicion')?.errors?.['required']"> (La Posicion no puede quedar vacía) </span>
      </div>
      <br />
      <div class="form-floating">
        <input type="number" class="form-control" formControlName="goles" id="floatingPassword" placeholder="Goles" id="goles" />
        <label for="floatingInput6" id="goles1">Goles</label>
        <span *ngIf="this.formulario.get('goles')?.errors?.['required']"> (Los Goles no pueden quedar vacíos) </span>
      </div>
      <br />
      <div class="form-floating">
        <input type="number" class="form-control" formControlName="asistencias" placeholder="Asistencias" id="asistencias" />
        <label for="floatingInput7" id="asistencias1">Asistencias</label>
        <span *ngIf="this.formulario.get('asistencias')?.errors?.['required']"> (Las Asistencias no pueden quedar vacías) </span>
      </div>
      <br />
      <div class="form-floating">
        <input type="number" class="form-control" formControlName="t_amarillas" id="floatingPassword" placeholder="T.Amarrillas" id="t.amarillas" />
        <label for="floatingInput8" id="t.amarillas1">T.Amarrillas</label>
        <span *ngIf="this.formulario.get('t_amarillas')?.errors?.['required']"> (Las Tarjetas Amarillas no pueden quedar vacías) </span>
      </div>
      <br />
      <div class="form-floating">
        <input type="number" class="form-control" formControlName="t_rojas" placeholder="T.Rojas" id="t.rojas" />
        <label for="floatingInput9" id="t.rojas1">T.Rojas</label>
        <span *ngIf="this.formulario.get('t_rojas')?.errors?.['required']"> (Las Tarjetas Rojas no pueden quedar vacías) </span>
      </div>
      <br />
      <div class="form-floating">
        <input type="number" class="form-control" formControlName="partidos" id="floatingPassword" placeholder="Partidos" id="partidos" />
        <label for="floatingInput10" id="partidos1">Partidos</label>
        <span *ngIf="this.formulario.get('partidos')?.errors?.['required']"> (Los Partidos no pueden quedar vacíos) </span>
      </div>
      <br />
      <div class="form-floating">
        <select formControlName="equipo_entrada" id="equipo.entrada" class="form-select">
          <option>Abre Para eligir Equipo Entrada</option>
          <option value="ColoColo">ColoColo</option>
          <option value="Tricolor de paine">Tricolor De Paine</option>
          <option value="Cobreloa">Cobreloa</option>
          <option value="Chimbarongo FC">Chimbarongo FC</option>
          <option value="Santiaco City">Santiago City</option>
          <option value="Magallanes">Magallanes</option>
          <option value="Universidad De Chile">Universidad De Chile</option>
          <option value="Universidad Catolica">Universidad Catolica</option>
        </select>
        <label for="floatingInput14" id="estado1">Equipo Entrada</label>
        <span *ngIf="this.formulario.get('equipo_entrada')?.errors?.['required']"> (El Equipo Entrada no puede quedar vacío) </span>
      </div>
      <br />
      <div class="form-floating">
        <select formControlName="equipo_salida" id="equipo.salida" class="form-select">
          <option>Abre Para eligir Equipo Salida</option>
          <option value="ColoColo">ColoColo</option>
          <option value="Tricolor de paine">Tricolor De Paine</option>
          <option value="Cobreloa">Cobreloa</option>
          <option value="Chimbarongo FC">Chimbarongo FC</option>
          <option value="Santiaco City">Santiago City</option>
          <option value="Magallanes">Magallanes</option>
          <option value="Universidad De Chile">Universidad De Chile</option>
          <option value="Universidad Catolica">Universidad Catolica</option>
        </select>
        <label for="floatingInput14" id="estado1">Equipo Salida</label>
        <span *ngIf="this.formulario.get('equipo_salida')?.errors?.['required']"> (El Equipo Salida no puede quedar vacío) </span>
      </div>
      <br />
      <div class="form-floating">
        <select formControlName="tipo" id="tipo" class="form-select">
          <option>Abre para escoger el Tipo Jugador</option>
          <option value="Profesional">Profesional</option>
          <option value="Semi-Profesional">Semi-Profesional</option>
          <option value="Amateur">Amateur</option>
        </select>
        <label for="floatingInput14" id="estado1">Tipo</label>
        <span *ngIf="this.formulario.get('tipo')?.errors?.['required']"> (El Tipo no puede quedar vacío) </span>
      </div>
      <br />
      <div class="form-floating">
        <input type="number" class="form-control" formControlName="sueldo" placeholder="Sueldo" id="sueldo" />
        <label for="floatingInput13" id="sueldo1">Sueldo</label>
        <span *ngIf="this.formulario.get('sueldo')?.errors?.['required']"> (El Sueldo no puede quedar vacío) </span>
      </div>
      <br />
      <div class="form-floating">
        <input type="number" class="form-control" formControlName="valor" placeholder="valor" id="valor" />
        <label for="floatingInput13" id="valor1">Valor Jugador</label>
        <span *ngIf="this.formulario.get('valor')?.errors?.['required']"> (El Valor Jugador no puede quedar vacío) </span>
      </div>
      <br />
      <div class="form-floating">
        <select formControlName="estado" id="estado" class="form-select">
          <option>Abre para escoger el estado</option>
          <option value="Sano">Sano</option>
          <option value="Lesionado">Lesionado</option>
        </select>
        <label for="floatingInput14" id="estado1">Estado</label>
        <span *ngIf="this.formulario.get('estado')?.errors?.['required']"> (El estado no puede quedar vacío) </span>
      </div>
      <br />
      <button type="submit" class="btn btn-primary" (click)="addData()">Convocar</button>
    </form>
  </div>
</body>
