.navbar {
  font-size: x-large;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-optical-sizing: auto;
  background-color: #ffa372;
}
#body {
  min-height: 100vh;
  background-color: #ffa372;
}
.card {
  background-color: #ffa372;
}
.card-title {
  font-size: x-large;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-optical-sizing: auto;
}
