.navbar {
  font-size: x-large;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-optical-sizing: auto;
  background-color: #ffa372;
}
#body {
  min-height: 100vh;
  background: linear-gradient(#ffa372, #ff6c3e);
}
#bodyn {
  margin-left: 20%;
  margin-right: 20%;
}
.boton {
  margin-top: 3%;
}
