.user{
    margin-left: 154%;
}
.borde{
    margin-left: 5%;
    margin-right: 5%;
}
.login{
    margin-top: 5%;
}
.borderlogin{
    margin-left: 10%;
    margin-right: 10%;
}
.boton{
    margin-top: 3%;
}